<h1>Master Ingredient of the week</h1>
<p>Want to take the master ingredient challenge?</p>

<ul><% @posts.each do |p| %>
<li><%= link_to p.description, p %></li>
<li><%= image_tag p.avatar.url(:medium) %></li>
<% end %>
</ul>
